node_modules/
/node_modules/
tax-filters/
/tax-filters/
.editorconfig
.eslintignore
.eslintrc.js
package-lock.json
gulpfile.babel.js
admin/
/admin/

assets/dist/admin.css.map
assets/dist/admin.css
assets/sass/files/tax-filters.scss
assets/js/theme/filter.js
index.php
.npmignore
assets/dist/theme.css
assets/dist/theme.css.map
assets/dist/theme.js
bin/create.js
blocks/accordion/accordion.css
blocks/accordion/accordion.js
blocks/basic-section/basic-section.css
blocks/carousel/carousel.css
blocks/contact/contact.css
blocks/info-boxes/info-boxes.css
blocks/tabs/tabs.css
gulpfile.js
package.json
stgulp.config.js
blocks/tabs/tabs.js
assets/dist/theme.css
assets/dist/theme.css.map
assets/dist/theme.js
blocks/accordion/accordion.js
blocks/contact/contact.css
blocks/tabs/tabs.js
