.st_accordion-item {
	border-bottom: 1px solid var(--color-2);
	.st_accordion-header {
		font-size: var(--font-size-5);
		color: var(--color-2);
		cursor: pointer;
		padding: 2rem 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0;
		svg {
			transition: var(--st)
		}
	}
	.st_accordion-body {
	  padding-bottom: 1rem;
	}
	&.open {
	  .st_accordion-header {
		svg {
		  transform: scaleY(-1);
		}
	  }
	}
  }
