@mixin stacked-space {
	margin-bottom: 24px;
}

.st_section_inner {
	@include flex-between;
	&.mob-img-first, &.mob-ib-first {
		@include tab-min {
			&.ib-right {
				.left {
					order: 2;
				}
				.right {
					order: 1;
				}
			}
			> div {
				width: 48%;
			}
		}
	}
	&.tab-img-first, &.tab-ib-first {
		@include limbo-min {
			&.ib-right {
				.left {
					order: 2;
				}
				.right {
					order: 1;
				}
			}
			> div {
				width: 48%;
			}
		}
	}
	&.tab-ib-first {
		@include tab-max {
			.left {
				@include stacked-space
			}
		}
	}
	&.tab-img-first {
		@include tab-max {
			.left {
				order: 2;
			}
			.right {
				order: 1;
				@include stacked-space;
			}
		}
	}
	&.mob-ib-first {
		@include mob-only {
			.left {
				@include stacked-space;
			}
		}
	}
	&.mob-img-first {
		@include mob-only {
			.left {
				order: 2;
			}
			.right {
				order: 1;
				@include stacked-space;
			}
		}
	}
}
