.st_tabs {
    .st_tabs_nav {
		border-bottom: 1px solid var(--color-2);
        ul {
            margin: 0;
            padding: 0;
            display: flex;
        }
        li {
            display: inline-block;
            margin-right: 5px;
			border-bottom: 2px solid transparent;
            a {
                display: block;
                padding: 2rem 2.5rem;
				font-size: 18px;
				color: var(--b-color);
            }
            &.active {
                border-color: var(--color-1);
            }
        }
    }
    .st_tabs_content {
        padding-top: 3rem;
        background: #FFF;
        overflow: hidden;
        .st_tab:not(:first-child) {
            display: none;
        }
    }
    @include mob-only {
        &.stack_tabs {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
					a {
						padding: 1.5rem 0;
					}
                    &.active {
                        order: 1;
                    }
                }
            }
        }
    }
}
