.posts_grid {
	@include grid-4;
	gap: 4.8rem;
	@include tab-only {
		@include col-2;
	}
	@include mob-only {
		@include col-1;
	}
	.grid_item {
		display: flex;
		flex-direction: column;
		.gi_title {
			margin-bottom: 1.8rem;
			font-size: var(--font-size-5);
			a {
				color: var(--t-color);
			}
		}
		.gi_image {
			aspect-ratio: 16 / 9;
			margin-bottom: 8px;
			img {
				height: 100%;
			}
		}
		.gi_read_more {
			margin-top: 1.6rem;
			display: flex;
			margin-top: auto;
		}
	}
	.posts-navigation {
		width: 100%;
		.nav-links {
			@include flex-between;
		}
	}
}

.blog_pagination {
	text-align: center;
	.page-numbers:not(.prev):not(.next) {
		width: 3.5rem;
		height: 3.5rem;
		border: 1px solid gray;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-inline: .5rem

	}
}
