.sub-menu {
	@include clean-list;
}
.sub-menu-trigger {
	svg {
		stroke: var(--color-1);
	}
}
.top_bar {
	background-color: var(--color-1);
	color: #000;
	text-align: center;
	padding-block: 8px;
	.top_bar_inner {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p {
		margin: 0;
		font-size: 18px;
		@include mob-only {
			font-size: 14px;
		}
	}
	a {
		@include btn-2;
		margin-left: 16px;
	}
}
@include desk-min {
	.hamburger {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
	.header-main {
		z-index: 9;
		position: relative;
		.header-main_inner {
			@include flex;
			justify-content: space-between;
			align-items: center;
			padding-block: 1rem;
			position: relative;
			.site-logo {
				width: 200px;
				margin: 0;
				img {
					object-fit: contain;
					height: auto;
					width: 100%;
				}
			}
		}
	}
	.main-navigation {
		#primary-menu {
			@include flex;
			ul {
				&.sub-menu {
					float: left;
					position: absolute;
					top: 100%;
					left: -999em;
					z-index: 99;
					min-width: 200px;
					width: fit-content;
					display: flex;
					flex-direction: column;
					background-color: #fff;
					padding: 2rem;
					opacity: 0;
					transition: opacity .3s;
					filter: drop-shadow(2.5px 2.5px 5px rgba(0, 0, 0, 0.05));
					li:not(:last-child) {
					a {
						margin-bottom: .5rem;
					}
					}
				}
			}
			> li {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				padding-block: 1rem;
				&:not(:last-child) {
					margin-right: 6rem;
				}
				&.account {
					order: 1;
				}
				&.menu-item-has-children {
					margin-right: 4.9rem;
					a {
						padding-right: 5px;
						font-size: 14px;
					}
				}
				> a {
					font-size: 16px;
				}
				a {
					color: var(--t-color);
				}
				.sub-menu-trigger {
					top: 4px;
					position: relative;
					right: 0;
					transform: rotate(45deg);
					cursor: pointer;
					transition: var(--st);
					pointer-events: none;
					svg {
					stroke: var(--color-1);
					}
				}
			}
			> li:hover {
				.sub-menu-trigger{
					transform: rotate(90deg);
					top: 1px;
					right: 4px;
				}
				.sub-menu {
					opacity: 1;
					left: -2rem;
				}
			}
		}
	}

}
